<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagTool.Properties.Paths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TagTool.Properties.TagToolPreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <TagTool.Properties.Paths>
            <setting name="h3_maps" serializeAs="String">
                <value />
            </setting>
            <setting name="ho_backup" serializeAs="String">
                <value />
            </setting>
            <setting name="ho_maps" serializeAs="String">
                <value />
            </setting>
            <setting name="h3_mapinfos" serializeAs="String">
                <value />
            </setting>
            <setting name="odst_maps" serializeAs="String">
                <value />
            </setting>
            <setting name="odst_mapinfos" serializeAs="String">
                <value />
            </setting>
        </TagTool.Properties.Paths>
        <TagTool.Properties.TagToolPreferences>
            <setting name="MapsPathHO" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPathHO" serializeAs="String">
                <value />
            </setting>
            <setting name="MapsPathBlam" serializeAs="String">
                <value />
            </setting>
            <setting name="MapInfosPathBlam" serializeAs="String">
                <value />
            </setting>
        </TagTool.Properties.TagToolPreferences>
    </userSettings>
</configuration>
